<header class="container-outer" fxLayout="row" fxLayoutAlign="space-between center">
	<div class="container" fxFlex="20">
		<div class="container-inner">
			<a [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
		</div>
	</div>
	<div class="container" fxFlex="80">
		<div class="container-inner">
			Search field component goes here
		</div>
	</div>
	<div class="container" fxFlex="20">
		<div class="container-inner">
			<a [routerLink]="['/row-examples']" routerLinkActive="router-link-active">Examples</a>
		</div>
	</div>
</header>