<div>
	<h3>Column Examples</h3>
</div>
<div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="start start"</h3>
		<div fxLayout="column" fxLayoutAlign="start start" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
				&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;start start&#x22; class=&#x22;container&#x22;&#x3E;
				&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
				&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
				&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
				&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
				&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

			</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="start center"</h3>
		<div fxLayout="column" fxLayoutAlign="start center" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
						&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;start center&#x22; class=&#x22;container&#x22;&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
						&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

					</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="start end"</h3>
		<div fxLayout="column" fxLayoutAlign="start end" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
						&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;start end&#x22; class=&#x22;container&#x22;&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
						&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

					</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="start stretch"</h3>
		<div fxLayout="column" fxLayoutAlign="start stretch" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
					&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;start stretch&#x22; class=&#x22;container&#x22;&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
					&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

				</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="center start"</h3>
		<div fxLayout="column" fxLayoutAlign="center start" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
					&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;center start&#x22; class=&#x22;container&#x22;&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
					&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

				</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="center center"</h3>
		<div fxLayout="column" fxLayoutAlign="center center" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
					&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;center center&#x22; class=&#x22;container&#x22;&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
					&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
					&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

				</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="center end"</h3>
		<div fxLayout="column" fxLayoutAlign="center end" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
						&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;center end&#x22; class=&#x22;container&#x22;&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
						&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
						&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

					</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="center stretch"</h3>
		<div fxLayout="column" fxLayoutAlign="center stretch" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
								&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;center stretch&#x22; class=&#x22;container&#x22;&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
								&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

							</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="end start"</h3>
		<div fxLayout="column" fxLayoutAlign="end start" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
								&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;end start&#x22; class=&#x22;container&#x22;&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
								&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

							</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="end center"</h3>
		<div fxLayout="column" fxLayoutAlign="end center" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
								&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;end center&#x22; class=&#x22;container&#x22;&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
								&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

							</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="end end"</h3>
		<div fxLayout="column" fxLayoutAlign="end end" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
								&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;end end&#x22; class=&#x22;container&#x22;&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
								&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

							</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="end stretch"</h3>
		<div fxLayout="column" fxLayoutAlign="end stretch" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
							&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;end stretch&#x22; class=&#x22;container&#x22;&#x3E;
							&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
							&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
							&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
							&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
							&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

						</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-around start"</h3>
		<div fxLayout="column" fxLayoutAlign="space-around start" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
							&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-around start&#x22; class=&#x22;container&#x22;&#x3E;
							&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
							&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
							&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
							&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
							&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

						</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-around center"</h3>
		<div fxLayout="column" fxLayoutAlign="space-around center" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
								&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-around center&#x22; class=&#x22;container&#x22;&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
								&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
								&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

							</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-around end"</h3>
		<div fxLayout="column" fxLayoutAlign="space-around end" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
										&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-around end&#x22; class=&#x22;container&#x22;&#x3E;
										&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
										&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
										&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
										&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
										&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

									</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-around stretch"</h3>
		<div fxLayout="column" fxLayoutAlign="space-around stretch" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
											&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-around stretch&#x22; class=&#x22;container&#x22;&#x3E;
											&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
											&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
											&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
											&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
											&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

										</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-between start"</h3>
		<div fxLayout="column" fxLayoutAlign="space-between start" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
												&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-between start&#x22; class=&#x22;container&#x22;&#x3E;
												&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
												&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
												&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
												&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
												&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

											</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-between center"</h3>
		<div fxLayout="column" fxLayoutAlign="space-between center" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
													&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-between center&#x22; class=&#x22;container&#x22;&#x3E;
													&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
													&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
													&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
													&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
													&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

												</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-between end"</h3>
		<div fxLayout="column" fxLayoutAlign="space-between end" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
														&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-between end&#x22; class=&#x22;container&#x22;&#x3E;
														&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
														&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
														&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
														&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
														&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

													</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-between stretch"</h3>
		<div fxLayout="column" fxLayoutAlign="space-between stretch" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
															&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-between stretch&#x22; class=&#x22;container&#x22;&#x3E;
															&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
															&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
															&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
															&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
															&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

														</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-evenly start"</h3>
		<div fxLayout="column" fxLayoutAlign="space-evenly start" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
																	&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-evenly start&#x22; class=&#x22;container&#x22;&#x3E;
																	&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
																	&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
																	&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
																	&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
																	&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

																</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-evenly center"</h3>
		<div fxLayout="column" fxLayoutAlign="space-evenly center" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
																		&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-evenly center&#x22; class=&#x22;container&#x22;&#x3E;
																		&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
																		&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
																		&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
																		&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
																		&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

																	</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-evenly end"</h3>
		<div fxLayout="column" fxLayoutAlign="space-evenly end" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
																			&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-evenly end&#x22; class=&#x22;container&#x22;&#x3E;
																			&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
																			&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
																			&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
																			&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
																			&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

																		</code>
		</div>

	</div>
	<div>
		<h3>fxLayout="column" fxLayoutAlign="space-evenly stretch"</h3>
		<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="container height250">
			<div class="container-outer">div</div>
			<div class="container">div</div>
			<div class="container-inner">div</div>
			<div class="container-element">div</div>
		</div>
		<div class="code-container">
			<code>
																			&#x9;&#x3C;div fxLayout=&#x22;column&#x22; fxLayoutAlign=&#x22;space-evenly stretch&#x22; class=&#x22;container&#x22;&#x3E;
																			&#x9;&#x9;&#x9;&#x9;&#x9;<br> --  &#x3C;div class=&#x22;container-outer&#x22;&#x3E;div&#x3C;/div&#x3E;
																			&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container&#x22;&#x3E;div&#x3C;/div&#x3E;
																			&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-inner&#x22;&#x3E;div&#x3C;/div&#x3E;
																			&#x9;&#x9;&#x9;&#x9;&#x9;<br> -- &#x3C;div class=&#x22;container-element&#x22;&#x3E;div&#x3C;/div&#x3E;<br>
																			&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;

																		</code>
		</div>

	</div>

</div>